*.log
*.pot
*.pyc
*.db
*.mo
identity/*.gpg
*~
.DS_Store
.cache/
__pycache__/
.idea/
/tmp/*
.sass-cache
static.prod/
.coverage
Makefile.config
uwsgi.ini
static.deploy
local_settings.py
/dist/
/docs/_build
/ekklesia.egg-info/
#/static/
/identity/identity/settings.py
/identity/accounts/migrations
/identity/idapi/migrations
/identity/oauthext/migrations
/identity/init.json
/identity/backup*.json
/identity/accounts/templates/*.html
/identity/accounts/templates/accounts/*.html
/identity/accounts/templates/registration/*.html
!/identity/accounts/templates/registration/registration*.html
/identity/identity/templates/*.html
/identity/identity/templates/identity/*.html
!/identity/identity/templates/admin_app_name.html
/templates/*.html
setup.cfg
