extends base
-load i18n

block header_title
    -trans 'Logged out'

block navigation

block content
    h1 You've been logged out.
    p
        | Thanks for stopping by; when you come back, don't forget to 
        a(href="{% url 'accounts:index' %}")
            -trans 'log in'
        |  again.
    p
        | You will be redirected to the main page in {{ redirect_delay }} seconds.
        | Please click 
        a(href='{{ next|default:"/"}}') here
        |  if it doesn't work.
