extends base
-load crispy_forms_tags

block append content
    p.
        Forgotten your password? Enter your e-mail address below, 
        and we'll e-mail instructions for setting a new one.
    -crispy form
