extends base
-load i18n
-load mptt_tags

block header_title
    -trans 'Departments'

block content
    h1: -trans 'Departments'
    ul
        -recursetree nodes
            li
                | {{ node.name }}
                if not node.is_leaf_node
                    ul.children
                        | {{ children }}
        -endrecursetree
