extends base
-load i18n

block content
    h1 Hello!
    p: -trans 'Welcome to the ID server!'
    hr

    if user.is_staff
        p: a(href="{% url 'admin:index' %}"): -trans 'administration'|capfirst
    p: a(href="{% url 'accounts:username' %}"): -trans 'change username'
    p: a(href="{% url 'accounts:email' %}"): -trans 'change email'
    p: a(href="{% url 'accounts:password' %}"): -trans 'change password'
    p: a(href="{% url 'accounts:profile' %}"): -trans 'show profile'
    p: a(href="{% url 'accounts:profile_edit' %}"): -trans 'edit profile'

    p: -trans 'Username:' 
        {{ username }}
    p: -trans 'Public key registered:' 
        {{ key_registered|yesno }}
    p: -trans 'Status:' 
         {{ status }}
    p: -trans 'Verified:' 
        {{ status|yesno }}
    p: -trans 'Eligible:' 
        {{ eligible|yesno }}
    p: -trans 'Two-factor authenticiation:' 
        {{ two_factor_auth|yesno }}
    p: -trans 'Notify on login:' 
         {{ notify_login|yesno }}
